:root{
    --primary: #F15D22;
    --dark: #181d27;
    --light: #f0d8c0;
    --semidark: #843d25;
}

::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark);
}

*{
    color: var(--light);
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

img{
    width: 100%;
}

h1{
    color: var(--primary);
    font-size: 4rem;
    font-weight: bolder;
    line-height: 4rem;
}

h2{
    color: var(--primary);
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
}

h3{
    color: var(--light);
    font-size: 2rem;
    font-weight: normal;
}

p{
    font-size: 1.5rem;
}

ul {
  list-style: none;       /* remove default bullets */
}

ul li {
  margin-bottom: 1rem;    /* vertical spacing between items */
  font-size: 1.5rem;
}

/* Use ::before for the bullet */
ul li::before {
    content: url("../assets/images/right.svg");
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin-top: -1rem;
    margin-left: -2.5rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.inline-link {
    color: var(--primary);
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

    .two-column-text{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

/* Underline animation */
.inline-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px; /* underline thickness */
    width: 0;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.inline-link:hover::before {
    width: 100%; /* animate underline */
}

/* Arrow icon */
.inline-link::after {
    content: url("../assets/images/arrow.svg");
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-top: -1rem;
    /* margin-left: -0.25rem; */
    margin-right: 0.25rem;
    vertical-align: middle;
}


body{
    background-color: var(--dark);
    display: flex;
    justify-content: center;
}

    main{
        width: 914px;
        display: flex;
        flex-direction: column;
        margin-top: 15vh;
    }

        header{
            display: flex;
            flex-direction: column;
            height: 80vh;
            gap: 30px;
        }

            .meta{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .back-button{
                background: transparent;
                border: none;
                box-shadow: none;
                width: 3rem;
                cursor: pointer;
                transition: transform 0.1s ease-out;
            }

                .back-button svg{
                    fill: var(--primary);
                }

            .back-button:hover{
                transform: translateX(-5px);
            }

            .categories{
                display: flex;
                flex-direction: row;
                gap: 20px;
            }

            .category{
                text-decoration: none;
                color: var(--primary);
                font-size: 1.5rem;
                font-weight: 500;
                display: inline-block;
                position: relative;
                cursor: pointer;
            }

            .category svg{
                fill: var(--primary);
                height: 1rem;
            }

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}