:root{
    --primary: #F15D22;
    --dark: #181d27;
    --light: #f0d8c0;
    --semidark: #843d25;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

*{
    color: var(--light);
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

h1{
    color: var(--dark);
    font-size: 5rem;
    font-weight: 900;
}

h3{
    color: var(--dark);
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

body{
    background-color: var(--primary);
}

section{
    width: 914px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10vh;
    gap: 1rem;
    /* background-color: aquamarine; */
}

    .section-title{
        color: var(--primary);
        font-size: 4rem;
        font-weight: 900;
    }

    .section-title svg{
        fill: var(--primary);
        height: 4rem;
    }

    #container {
        position: fixed;
        width: 80vh;
        height: 80vh;
        transform: rotate(30deg);
        right: 2vw;
        top: 2vh;
        opacity: 0.5;
    }

    .square {
        position: fixed;
    }

    .section-head {
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: -2;
        position: fixed;
        margin-top: -90vh;
    }
    
        .section-head-content {
            max-width: 914px;
            /* background-color: aqua; */
        }

        @media (max-width: 1024px) {
            .section-head-content {
                max-width: 1024px;
                margin-left: 100px;
            }
        }

            .navbar{
                height: 20vh;
                width: 1024px;
                align-content: center;
                /* background-color: green; */
            }

                .navbar-select{
                    display: flex;
                    justify-content: space-between;
                    width: 50%;
                    /* background-color: yellow; */
                }

                    .navbar-link{
                        text-decoration: none;
                        color: var(--dark );
                        font-size: 1.3rem;
                        font-weight: 500;
                    }

                    .navbar-link:hover{
                        text-decoration: underline;
                    }
            
            #header-photo{
                height: 80vh;
                position: absolute;
                right: 4vw;
                top: 10vh;
                display: none;
            }
            
            .titlescreen{
                height: 70vh;
                position: fixed;
                /* background-color: red; */
            }
            
                .titlescreen-block{
                    height: 85%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
    
    .section-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--dark);
        width: 100%;
        z-index: 99;
        margin-top: 90vh;
        /* background-color: red;   */
    }

        .projects-list{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);
        }

            .projects-list-item{
                background-color: var(--primary);
                width: 298px;
            }

            .img-mock{
                background-color: var(--semidark);
                height: 180px;
                width: 100%;
            }

            .project-meta{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
                gap: .7rem;
            }

                .project-title{
                    font-weight: bold;
                    color: var(--dark);
                    font-size: 1.7rem;
                }

                .project-category{
                    font-size: 1.2rem;
                    color: var(--dark)
                }

                .project-description{
                    font-size: 1rem;
                    color: var(--dark)
                }

                .project-button-wrapper{
                    display: flex;
                    justify-content: flex-end;
                }

                .button-dark{
                    display: inline-block;
                    border: var(--primary) 1px solid;
                    margin-right: 2rem;
                    padding: 0.5rem 1rem;
                    border-radius: 0px;
                    color: var(--primary);
                    font-size: 1rem;
                    background-color: var(--dark);
                    margin: 0;
                }

                    .button-dark svg{
                        fill: var(--primary);
                        height: .7rem;
                    }

            .button-light{
                display: inline-block;
                padding: 0.5rem 1rem;
                border-radius: 0px;
                color: var(--dark);
                font-size: 1rem;
                font-weight: 600;
                background-color: var(--primary);
            }

            .button-light svg{
                fill: var(--dark);
                height: .7rem;
            }

        .profile{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

            .profile-image{
                background-color: var(--primary);
                height: 45vh;
                width: 45vh;
            }

                .profile-image img{
                    height: 45vh;
                    width: 45vh;
                }

            .profile-meta{
                display: flex;
                flex-direction: column;
                justify-content:space-evenly;
            }

                .profile-meta-socials{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                }

                    .social-button{
                        width: 4.5rem;
                        height: 4.5rem;
                        border-radius: 0px;
                        background-color: var(--primary);
                        color: var(--dark);
                        display: flex;
                        justify-content: center;
                    }

                        .social-button svg{
                            width: 3rem;
                            fill: var(--dark);
                        }

                        .social-button:hover{
                            background-color: var(--semidark);
                        }

        .timeline-dot {
            position: absolute;
            left: 78px;
            top: 5px;
            width: 26px;
            height: 26px;
            background: var(--primary);
            border-radius: 50%;
        }

        .timeline {
            position: relative;
            padding-left: 0;
        }

        .timeline-item {
            margin-bottom: 60px;
            position: relative;
            padding-left: 150px;
        }

        .timeline-item:not(:last-child)::after {
            content: '';
            position: absolute;
            left: 90px;
            top: 31px;
            width: 3px;
            height: calc(100% + 60px);
            background: var(--primary);
        }

        .timeline-date {
            position: absolute;
            left: 0;
            top: 0;
            color: var(--primary);
            font-weight: bold;
            margin-bottom: 8px;
            line-height: 1.3;
        }

        .timeline-dot {
            position: absolute;
            left: 78px;
            top: 5px;
            width: 26px;
            height: 26px;
            background: var(--primary);
            border-radius: 50%;
        }

        .timeline-content {
            padding-left: 0;
        }

        .timeline-title {
            font-weight: bold;
            margin-bottom: 8px;
            line-height: 1.3;
            font-size: 1.5rem;
        }

        .timeline-subtitle {
            font-size: 1.2rem;
            font-weight: normal;
        }


        #section-body-skills{
            /* background-color: red; */
            display: flex;
            align-items: center;
            max-width: 1024px;
        }

            .skills{
                display: grid;
            }

            .skills-title{
                /* background-color: cyan; */
                grid-column-start: 1;
                grid-column-end: 3;
                font-size: 4rem;
                font-weight: 900;
                color: var(--primary);
                height: 8rem;
            }

            .skills-content{
                /* background-color: magenta; */
                display: flex;
                flex-direction: column;
                height: 10vw;
                padding-right: 2rem;
            }

                .skills-content > p{
                    font-size: 2rem;
                }

        #section-body-education{
            /* background-color: lime; */
            display: flex;
            align-items: center;
        }

            .educ{
                display: grid;
                width: 100%;
            }

                .educ-title{
                    grid-column-start: 1;
                    grid-column-end: 3;

                    font-size: 4rem;
                    font-weight: bolder;
                    color: var(--primary);
                    /* background-color: violet; */
                }

                    .educ-prov-desc{
                        /* background-color: red; */
                        height: 35vh;
                        display: flex;
                        align-items: center;
                    }

                        .cert-title{
                            font-size: 2rem;
                            font-weight: bolder;
                        }

                    .educ-prov-pic{
                        /* background-color: green; */
                        display: flex;
                        justify-content: center;
                    }

                        .educ-prov-pic > img{
                            width: 80%;
                        }

        #section-body-projects{
            /* background-color: orange; */
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .projects > a{
                text-decoration: none;
            }

                .projects-title{
                    font-size: 4rem;
                    font-weight: bolder;
                    color: var(--primary);
                    height: 8rem;
                }

                .projects-content{
                    border: var(--primary) 2px solid;
                    border-radius: 1px;
                    /* height: 20vh; */
                    /* display: flex;
                    flex-direction: column;
                    justify-content: center; */
                    padding: 4vh;
                    margin: 10px 0 10px 0;
                    
                }

                .projects-content:hover{
                    background-color: var(--semidark);
                    cursor: pointer;
                }

                    .projects-content-layout{
                        display: grid;
                        grid-template-columns: 90% 10%;
                    }

                        .projects-content-layout-title > p{
                            font-size: 2.5rem;
                            font-weight: bolder;
                            color: var(--primary);
                        }

                    .projects-content-layout-icon{
                        display: flex;
                        justify-content: flex-end;
                    }

                        .projects-content-layout-icon > img{
                            height: 2rem;
                        }

                    .projects-content-layout-desc{
                        
                    }

                        .projects-content-layout-desc > p{
                            color: var(--primary);
                        }

        #section-body-me{
            /* background-color: pink; */
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .me{
                
            }

                .me-title{
                    font-size: 4rem;
                    font-weight: bolder;
                    color: var(--primary);
                    height: 8rem;
                }
                
                .me-desc > p{
                    font-size: 2rem;
                }

        .section-body-footer{
            display: flex;
            flex-direction: column;
            align-items:last baseline;
            background-color: var(--primary);
            width: 98%;
            padding: 0.5rem 0 0.5rem 0;
            font-size: 1rem;
            color: var(--dark);
            font-weight: 700;
        }               