:root{
    --primary: #F15D22;
    --dark: #181d27;
    --light: #f0d8c0;
    --semidark: #843d25;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

*{
    color: var(--light);
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

.notice{
    display: none;
}

@media (max-width: 600px) {
    .notice{
        background-color: var(--dark);
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    html, body {
        overflow: hidden;
        height: 100%;
        overscroll-behavior: none;
        touch-action: none;
    }

    .notice div{
        width: 80%;
        font-size: larger;
        text-align: center;
    }
}

h1{
    color: var(--dark);
    font-size: 5rem;
    font-weight: 900;
}

h3{
    color: var(--dark);
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

.link-left::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dark);
    transition: width 0.5s ease;
}

.link-left:hover::after {
    width: 100%;
}

.to-top{
    position: fixed;
    right: .5rem;
    bottom: 3rem;
    cursor: pointer;
    display: none;
}

.top-button{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0px;
    background-color: var(--primary);
    color: var(--dark);
    display: flex;
    justify-content: center;
    transition: transform 0.1s ease-out;
}

    .top-button svg{
        width: 2rem;
        fill: var(--dark);
    }

    .top-button:hover{
        /* background-color: var(--semidark); */
        transform: translateY(-5px);
    }

body{
    background-color: var(--primary);
}

section{
    width: 914px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10vh;
    gap: 1rem;
    /* background-color: aquamarine; */
}

    .section-title{
        color: var(--primary);
        font-size: 4rem;
        font-weight: 900;
        text-decoration: none;

        /* display: inline-block; */
        position: relative;
    }

    .section-title svg{
        fill: var(--primary);
        height: 4rem;
    }

    .section-title::after {
        content: '';
        position: absolute;
        width: 0;
        height: 7px;
        bottom: 0;
        left: 0;
        background-color: var(--primary);
        transition: width 0.5s ease;
    }

    .section-title:hover::after {
        width: 100%;
    }

    #container {
        position: fixed;
        /* width: 80vh;
        height: 80vh;
        right: 2vw;
        top: 2vh; */

        right: -5vw;
        top: -18vh;
        width: 90vh;
        height: 90vh;
        transform: rotate(30deg);
        /* opacity: 0.5; */
    }

    .square {
        position: fixed;
    }

    .section-head {
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: -2;
        position: fixed;
        margin-top: -90vh;
    }
    
        .section-head-content {
            max-width: 914px;
            /* background-color: aqua; */
        }

        @media (max-width: 1024px) {
            .section-head-content {
                max-width: 1024px;
                margin-left: 100px;
            }
        }

            .navbar{
                height: 20vh;
                width: 1024px;
                align-content: center;

                /* UNCOMMENT IF WILL ADD LOGO */
                /* margin-left: 5rem; */
            }

            /* .logo-container{
                position: fixed;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 1024px;
                height: 20vh;
                margin-left: 3.5rem;
            }

            .logo-btn svg{
                height: 3rem;
            } */

                .navbar-select{
                    display: flex;
                    justify-content: space-between;
                    width: 40%;
                    /* background-color: yellow; */
                }

                    .navbar-link{
                        text-decoration: none;
                        color: var(--dark );
                        font-size: 1.3rem;
                        font-weight: 500;
                        cursor: pointer;

                        display: inline-block;
                        position: relative;
                    }

                    .navbar-link svg{
                        fill: var(--dark);
                        height: 1rem;
                    }
            
            #header-photo{
                height: 80vh;
                position: absolute;
                right: 4vw;
                top: 10vh;
                display: none;
            }
            
            .titlescreen{
                height: 70vh;
                position: fixed;
                /* background-color: red; */
            }
            
                .titlescreen-block{
                    height: 85%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
    
    .section-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--dark);
        width: 100%;
        z-index: 99;
        margin-top: 90vh;
        /* background-color: red;   */
    }

        .project-title{
            line-height: 1.8rem;
        }

        .projects-list{
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);
        }

            .projects-list-item{
                background-color: var(--primary);
                width: 298px;
                transition: transform 0.1s ease-out;
            }

            .projects-list-item:hover{
                cursor: pointer;
                transform: translateY(-5px);
            }

            .img-mock{
                background-color: var(--semidark);
                height: 170px;
                width: 100%;
            }

            .project-meta{
                display: flex;
                flex-direction: column;
                /* justify-content: space-between; */
                padding: 10px;
                gap: .7rem;
            }

                .project-title{
                    font-weight: bold;
                    color: var(--dark);
                    font-size: 1.7rem;
                }

                .project-category{
                    font-size: 1.2rem;
                    color: var(--dark)
                }

                .project-description{
                    height: 3.75rem;
                    font-size: 1rem;
                    color: var(--dark);
                    line-height: 1.25rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* fits ~3.75rem at 1.25rem line-height */
                    -webkit-box-orient: vertical;
                    white-space: normal;
                    overflow-wrap: anywhere;
                    word-break: break-word;
                }

                .project-button-wrapper{
                    display: flex;
                    justify-content: flex-end;
                }

                .button-dark{
                    display: inline-block;
                    border: var(--primary) 1px solid;
                    margin-right: 2rem;
                    padding: 0.5rem 1rem;
                    border-radius: 0px;
                    color: var(--primary);
                    font-size: 1rem;
                    background-color: var(--dark);
                    margin: 0;
                    transition: transform 0.1s ease-out;
                }

                .button-dark:hover{
                    transform: scale(1.1);
                }

                    .button-dark svg{
                        fill: var(--primary);
                        height: .7rem;
                    }

            .button-light{
                display: inline-block;
                padding: 0.5rem 1rem;
                border-radius: 0px;
                color: var(--dark);
                font-size: 1.2rem;
                font-weight: bold;
                background-color: var(--primary);
                border: none;
                cursor: pointer;
                transition: transform 0.1s ease-out;
            }

                .button-light:hover{
                    transform: translateX(5px);
                }

            .button-light svg{
                fill: var(--dark);
                height: 1rem;
            }

        .profile{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

            .profile-image{
                background-color: var(--primary);
                height: 300px;
                width: 300px;
            }

                .profile-image img{
                    height: 300px;
                    width: 300px;
                }

            .profile-meta{
                display: flex;
                flex-direction: column;
                justify-content:space-evenly;
            }

                #greeting{
                    font-size: 3rem;
                    font-weight: bold;
                    color: var(--light);
                    margin-top: -10px;
                }

                .profile-meta-socials{
                    display: flex;
                    flex-direction: row;
                    /* justify-content: center; */
                    gap: 1rem;
                }

                    .social-button{
                        width: 4.5rem;
                        height: 4.5rem;
                        border-radius: 0px;
                        background-color: var(--primary);
                        color: var(--dark);
                        display: flex;
                        justify-content: center;
                        transition: transform 0.1s ease-out;
                    }

                        .social-button svg{
                            width: 3rem;
                            fill: var(--dark);
                        }

                        .social-button:hover{
                            /* background-color: var(--semidark); */
                            transform: scale(1.1);
                        }

        .timeline-type {
            color: var(--primary);
            font-size: 4rem;
            font-weight: 900;
            text-decoration: none;
        }

        .timeline-item {
            margin-bottom: 60px;
            position: relative;
            padding-left: 210px;
            display: flex;
            align-items: flex-start;
        }

        .timeline-item:not(:last-child)::after {
            content: '';
            position: absolute;
            left: 190px;
            top: 31px;
            width: 3px;
            height: calc(100% + 60px);
            background: var(--primary);
        }

        .timeline-date {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 1.5rem;
            color: var(--primary);
            font-weight: bold;
            width: 170px;
            text-align: right;
        }

        .timeline-dot {
            position: absolute;
            left: 178px;
            top: 5px;
            width: 26px;
            height: 26px;
            background: var(--primary);
            border-radius: 50%;
        }

        .timeline-content {
            padding-left: 0;
        }

        .timeline-title {
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--light);
        }

        .timeline-title-link {
            display: inline-block;
            position: relative;
            align-items: center;
            gap: 0.25rem;
            text-decoration: none;
            color: var(--light);
        }

            .timeline-title-link svg {
                fill: var(--light);
                height: 1.25rem;
            }

            .timeline-title-link::after{
                content: '';
                position: absolute;
                width: 0;
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: var(--light);
                transition: width 0.5s ease;
            }

            .timeline-title-link:hover::after {
                width: 100%;
            }

        .timeline-subtitle {
            font-size: 1rem;
            color: var(--light);
        }

        .timeline-subtitle-link {
            display: inline-block;
            position: relative;
            align-items: center;
            gap: 0.25rem;
            text-decoration: none;
            color: var(--light);
        }

            .timeline-subtitle-link svg {
                fill: var(--light);
                height: 0.75rem;
            }

            .timeline-subtitle-link::after{
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: var(--light);
                transition: width 0.5s ease;
            }

            .timeline-subtitle-link:hover::after {
                width: 100%;
            }

        .section-body-footer{
            display: flex;
            flex-direction: column;
            align-items:last baseline;
            background-color: var(--primary);
            width: 98%;
            padding: 0.5rem 0 0.5rem 0;
            font-size: 1rem;
            color: var(--dark);
            font-weight: 700;
        }               

            #contact-email-body{
                background-color: var(--dark);
                color: var(--light);
                font-size: 1.5rem;
                padding: 0.5rem;
                /* keep only the sides you want */
                border-top: none;
                border-right: none;
                border-left: 4px solid var(--primary);
                border-bottom: 4px solid var(--primary);
                border-radius: 0;
                width: 100%;
                box-sizing: border-box;
                outline: none; /* optional: remove default focus outline */
                resize: none;
            }